// ******************************************************************************************************
// # footer
// ******************************************************************************************************/

.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  &__copy {
    display: block;
    font-size: 12px;
    text-align: center;
    line-height: 1;
  }
}