// ******************************************************************************************************
// # header
// ******************************************************************************************************/

.header {
  background: linear-gradient(to right, #07A4F0, #0064C4);
  padding: 40px 16px;
  &__title {
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    @media #{$sp} {
      font-size: 30px;
    }
  }
}